*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family:"Montserrat", sans-serif;
    line-height: 1.7;
    color: white;
    background: white;
}

.container{
    width: 76%;
    margin: 0 auto;
}

.container a{
    
    color: aliceblue;
}

nav{
    background: #1f2641 ;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav_con{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}

header{
    position: relative;
    overflow: hidden;
    height: 70vh;
    background: #1f2641;
}

.header_con{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
    gap:5rem;
}

.header_left p{
    margin: 1rem 0 2.4rem ;
}

.header_right{
    margin: 1rem 0 2.4rem ;
    background: #475797;
    padding: 10vh;
    
}

.btn{
    background: rgb(68, 68, 253);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
/*------------------------------################     some more info #############______________________*/
.more_info{
    color: black;
}

.more_info{
    text-align: center;
    line-height: 1;
    margin-top: 3rem;
}

.boxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

div.box{
    width: 160px;
    height: 160px;
    padding: 10px;
    border: 3px solid rgb(0, 115, 255);
    border-radius: 5px;
    margin: 0;
    margin-bottom: 10px;
}

.info{
    background: white;
    padding: 2rem;
    border-radius: 10px;
    margin: 4px;
}

section.qoute{
    background: rgb(156, 176, 187);
    color: rgb(31, 31, 31);
    padding: 74px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif ;
}

p.message{
    padding: 10px;
    margin-left: 120px;
    margin-right: 70px;
}

p.thor{
    font-size: 20px;
    margin-left: 800px;
}

section.calls{
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.call{
    display: grid;
    grid-template-columns: 60% 40%;
    background: rgb(104, 104, 255);
    border-radius: 10px;
    height: 150px;
    width: 75%;
    
}

article.words{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(104, 104, 255);
    height: 30px;
    width: 90px;
    border: 2px solid white;
    border-radius: 5px;
}

div.copy_right{
    background: #1f2641;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}




